body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 10px;
}

.coordinate-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.coordinate-input label {
    margin-bottom: 4px;
    font-weight: bold;
}

.coordinate-input input {
    padding: 8px;
    width: 210px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: white;
}



.coordinate-input input {
    padding: 8px;
    width: 210px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: white;
}


.buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

button {
    position: relative;
    padding: 7px 17px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    left: -75px;
}

button2 {
    position: relative;
    padding: 7px 17px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    left: -135px;
}
button:hover {
    background-color: #0056b3;
}

#map {
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#message {
    color: red;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
